* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "AgileCustom";
  src: url("/public/fonts/agile.otf") format("opentype"),
    url("/public/fonts/agile.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #282d2a;
}
